<html>
	<head>
		{% if title %}
		<title>{{ title }} - microblog</title>
		{% else %}
		<title>microblog</title>
		{% endif %}
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style3.css')}}">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css')}}" />
	</head>
	<body>
		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">

				<img src="static/vodafone.png" width = "70" height="50" style="padding-left: 20; padding-top: 10; padding-bottom: 5">

				<nav class="links">
					<ul>
						<li>Cotizacion: {{cot_actual}}</li>
						<li>Fecha: {{fecha_actual}}</li>
						<li>Hora: {{hora_actual}}</li>
						<li>Cotizacion max: {{mx}}</li>
						<li>Cotizacion min: {{mn}}</li>

					</ul>
				</nav>
			</header>

			<!-- Main -->
			<div id="main">

				<!-- Post -->
					<article class="post">
						<div id="div1" align=center>				
						<TABLE BORDER=1 ALIGN=CENTER>
						<TR>
							<TD WIDTH=150 ALIGN=CENTER>
							Cotizacion
							</TD>

							<TD WIDTH=150 ALIGN=CENTER>
							Fecha
							</TD>

							<TD WIDTH=150 ALIGN=CENTER>
							Hora
							</TD>
						</TR>
							{% for post in posts %}
							<TR>
								<TD WIDTH=150 ALIGN=CENTER>
								{{post.cot}}
								</TD>

								<TD WIDTH=150 ALIGN=CENTER>
								{{ post.fecha}}
								</TD>

								<TD WIDTH=150 ALIGN=CENTER>
								{{ post.hora}}
								</TD>
							</TR>
							{% endfor %}
						</TABLE>
						</div>
						
					</article>

			</div>

			<!-- Sidebar -->
			<section id="sidebar">
				<!-- Mini Posts -->
				<section>
					<div class="mini-posts">
						<!-- Mini Post -->
							<article class="mini-post">
								<header>
										<h1>Evaluación gráfica</h1>
										<form action="https://beebotte.com/dash/9b04a260-b7b3-11e6-9d38-c733e0bdc86c#.WEAMTmco88o" method="GET">	
										<input type="submit" name="boton_graficas" value="VER">
										</form>
								</header>
								
							</article>

						<!-- Mini Post -->
						<form action="." method="POST" name="indexito">
							<article class="mini-post">
								<header>
										<h1>Cotización media</h1>
										<input type="submit" name="boton_media" value="Calcular">
										<input type="text" name="text_media" size="10" maxlength="20" value ="{{valor_media}} {{fuente_media}}">
										<p></p>
										<p>Pulsa calcular para obtener la media de las cotizaciones</p>	
								</header>
								
							</article>
						<input type="hidden" name="it" size="10" maxlength="20" value = {{it}}>
						<!-- Mini Post -->
							<article class="mini-post">
								<header>
									<h1>Umbral</h1>
									<input type="submit" name="boton_umbral" value="Introducir">
									<input type="text" name="text_umbral" value = {{text_umbral}}>
									<p></p>
									<p>Introduce el umbral en %</p>	
																				
									</table>

								</header>
								
							</article>
						</form>

					</div>
				</section>
			</section>
		</div>


	


	</body>
</html>
